.catlist{
    height: 110px;
    margin-top: 10px;
    width: 96%;
    margin: auto;
    
    background-image: linear-gradient(#383838, #fff);
    .catlistli{
        h4{
            padding: 10px 20px;
            font-weight: 900;
            color: #fff;
        }
        .catlists{
            border: 1px solid #ccc;
        height: 40px;
        box-shadow:4px 2px 4px 2px #ccc ;
        background-image: linear-gradient(#87c2ff, #cde3fa);
            .catlist-content{
               .catcon{
                height: 40px;
                width: 100%;
                   .consw{
                       .catsldr{
                           width:auto;
                           a{
                               padding: 10px 30px;
                               border: 1px solid #fff;
                               display: inline-block;
                               text-decoration: none;
                               color: #000;
                               font-weight: bold;
                           }
                       }
                   }
               }
            }
        }
    }
}


.naprodslidr{
    outline: 1px solid #e6e6e6;
text-align: center;
font-size: 18px;
background: #fff;
height: 424px;
width: 250px;
    .naprodslidrimg{
        width: 96%;
        margin: auto;
        height: 220px;
    }
    .prodlabl{
        font-size: 16px;
        margin-top: 6px;
    }
    .prodprzlabl{
        font-size: 15px;
    }
    .prodqntlabl{
        font-size: 12px;
    }
    .getaquote{
        font-size: 16px;
        color: #fff;
        padding: 7px 60px;
        background-color: #b86e00;
    }
    :hover{
        box-shadow: 2px 2px 2px 2px #ccc ;
        cursor: pointer;
    }
}